 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>TELEGRAM BOT DASHBOARD</title>
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">

    {% load static %}
    <link rel="stylesheet" href="{% static './plugins/pg-calendar/css/pignose.calendar.min.css' %}">
    <link rel="stylesheet" href="{% static './plugins/chartist/css/chartist.min.css' %}">
    <link rel="stylesheet" href="{% static './plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css' %}">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
 </head>
 <body>
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <div id="main-wrapper">
        <div class="nav-header">
            <div class="brand-logo">
                <a href="index.html">
                     <b class="logo-abbr"><img src="" alt="">
                     </b>
                     <span class="logo-compact"><img src="" alt="">
                     </span>
                    <span class="brand-title">
                        <img src="{% static 'images/logo-text.png' %}" alt="">
                    </span>
                </a>
            </div>
        </div>
        <div class="header">    
            <div class="header-content clearfix">
                <div class="nav-control">
                    <div class="hamburger">
                        <span class="toggle-icon"><i class="icon-menu"></i></span>
                    </div>
                </div>
                <div class="header-left">
                    <div class="input-group icons">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-transparent border-0 pr-2 pr-sm-3" id="basic-addon1"><i class="mdi mdi-magnify"></i></span>
                        </div>
                        <input type="search" class="form-control" placeholder="Search Dashboard" aria-label="Search Dashboard">
                        <div class="drop-down animated flipInX d-md-none">
                            <form action="#">
                                <input type="text" class="form-control" placeholder="Search">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="header-right">
                    <ul class="clearfix">
                        <li class="icons dropdown"><a href="javascript:void(0)" data-toggle="dropdown"></a>
                        <li class="icons dropdown d-none d-md-flex">
                            <a href="javascript:void(0)" class="log-user"  data-toggle="dropdown">
                                <span>English</span>  <i class="fa fa-angle-down f-s-14" aria-hidden="true"></i>
                            </a>
                            <div class="drop-down dropdown-language animated fadeIn  dropdown-menu">
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li><a href="javascript:void()">English</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="icons dropdown">
                            <div class="user-img c-pointer position-relative"   data-toggle="dropdown">
                                <span class="activity active"></span>
                                 <img src="{% static 'images/user/1.png' %}" height="40" width="40" alt="">
                            </div>
                            <div class="drop-down dropdown-profile animated fadeIn dropdown-menu">
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li>
                                            <a href="app-profile.html"><i class="icon-user"></i> <span>Profile</span></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void()">
                                                <i class="icon-envelope-open"></i> <span>Inbox</span> <div class="badge gradient-3 badge-pill gradient-1">3</div>
                                            </a>
                                        </li>
                                        <hr class="my-2">
                                        <li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="nk-sidebar">           
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label">Dashboard</li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-speedometer menu-icon"></i><span class="nav-text">Dashboard</span>
                        </a>
                        <ul aria-expanded="false">
                           <li><a href="http://127.0.0.1:8000/telebot/">TELE BOT 1</a></li>
                            <li><a href="http://127.0.0.1:8000">TELE BOT 2</a></li>
                            <li><a href="http://127.0.0.1:8000">TELE BOT 3</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-envelope menu-icon"></i> <span class="nav-text">Email</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="./email-inbox.html">Inbox</a></li>
                            <li><a href="./email-read.html">Read</a></li>
                            <li><a href="./email-compose.html">Compose</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-notebook menu-icon"></i><span class="nav-text">Pages</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="./page-login.html">Login</a></li>
                            <li><a href="./page-register.html">Register</a></li>
                            <li><a href="./page-lock.html">Lock Screen</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content-body">
            <div class="container-fluid mt-4">
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <div class="card gradient-3 ">
                            <div class="card-body">
                                <h3 class="card-title text-white"> 1) <U><BOLD> MESSAGE HEADER </BOLD></U></h3>
                                {% for  key,value in response_data.1.items %}
                                    <h3 class="card-title text-white">
                                        {% if value.1 == '1' %}
                                              {{value.0}}
                                        {% else %}
                                              {{value.0}}
                                         {% endif %}
                                      :{{value.2}}</h3>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                       {% for key ,value in response_data.0.items %}
                          {% if value.2 == '1' %}
                            <div class="col-lg-6 col-sm-6">
                               <div class="card gradient-6 padding">
                                  <div class="card-body ">
                                      <h1 class="card-title text-white"><U> BOT: {{value.1}} </U></h1>
                                       <h3 class="card-title text-white"> STATUS: ACTIVATE </h3>
                                       <div class="d-inline-block">
                                          <h2 class="text-white"></h2>
                                          <p class="text-white mb-0"></p>
                                       </div>
                                      <span class="float-right display-5 opacity-5"></span>
                                  </div>
                               </div>
                            </div>
                          {% else %}
                            <div class="col-lg-6 col-sm-6">
                               <div class="card  padding shadow">
                                   <div class="card-body ">
                                       <h1 class="card-title text-black"><U> BOT: {{value.1}} </U></h1>
                                       <h3 class="card-title text-pink"> STATUS: DEACTIVATE </h3>
                                       <div class="d-inline-block">
                                          <h2 class="text-white"></h2>
                                          <p class="text-white mb-0"></p>
                                       </div>
                                     <span class="float-right display-5 opacity-5"></span>
                                   </div>
                               </div>
                            </div>
                          {% endif %}
                       {% endfor %}
<!--               <a href="http://localhost:8000/dashboard/"> go to dashboard </a>-->

    <script src="{% static 'plugins/common/common.min.js' %}"></script>
    <script src="{% static 'js/custom.min.js' %}"></script>
    <script src="{% static 'js/settings.js' %}"></script>
    <script src="{% static 'js/gleek.js' %}"></script>
    <script src="{% static 'js/styleSwitcher.js' %}"></script>
    <script src="{% static './plugins/chart.js/Chart.bundle.min.js' %}"></script>
    <script src="{% static './plugins/circle-progress/circle-progress.min.js' %}"></script>
    <script src="{% static './plugins/d3v3/index.js' %}"></script>
    <script src="{% static './plugins/topojson/topojson.min.js' %}"></script>
    <script src="{% static './plugins/datamaps/datamaps.world.min.js' %}"></script>
    <script src="{% static './plugins/raphael/raphael.min.js' %}"></script>
    <script src="{% static './plugins/morris/morris.min.js' %}"></script>
    <script src="{% static './plugins/moment/moment.min.js' %}"></script>
    <script src="{% static './plugins/pg-calendar/js/pignose.calendar.min.js' %}"></script>
    <script src="{% static './plugins/chartist/js/chartist.min.js' %}"></script>
    <script src="{% static './plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js' %}"></script>
  </body>
</html>