 <!DOCTYPE html>
 <html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>TELEGRAM BOT DASHBOARD</title>
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">

    {% load static %}
    <link rel="stylesheet" href="{% static './plugins/pg-calendar/css/pignose.calendar.min.css' %}">
    <link rel="stylesheet" href="{% static './plugins/chartist/css/chartist.min.css' %}">
    <link rel="stylesheet" href="{% static './plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css' %}">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
     <style>
     .buttons{
      position: absolute;
      top:50%;
      right: 0;
      width: 120px;
      transform: translateY(-50%);
      align:right;
    }
   </style>
  </head>
<body>
<div class="container">
    <form action = "/update" method = "GET">
<table class="table table-striped">
    <thead>
      <tr>
        <th>message_id</th>
		<th>messages</th>
		 <th>message_status</th>
		<th>timingg</th>
      </tr>
    </thead>
 <tbody>
 <p><center><BOLD><U> MESSAGE / TIMING </U></BOLD></center></p>
    {% for  key,value in response_data.1.items %}
      <tr>
        <td><input value = "{{value.3}}" style = "width:30%" name = "message_id"/></td>
          <td><input value = "{{value.0}}" style = "width:100%" name = "messages"/></td>
          {% if value.1 == '1' %}
             <td><input type = "checkbox"  value="{{value.3}}"  checked  name = "message_status"/>Active</td>
          {% else %}
             <td><input type = "checkbox"  value="{{value.3}}"  name = "message_status"/>pending</td>
          {% endif %}
		<td><input type = "text"  value = "{{value.2}}" name = "message_timing"/></td>
      </tr>
    {% endfor %}
 </tbody>
</table>
    <p align="right">
  <input type="submit" value="update" />
    </p>
    </form>
</div>
<hr style=" border: 2px solid blue;">
<div class="container">
     <form action = "/bot_update" method = "GET">
<table class="table table-striped">
    <thead>
      <tr>
		<th>bot_name</th>
          <th>Action</th>
      </tr>
    </thead>
    <tbody>
    <p><center><BOLD><U>BOT STATUS</U></BOLD></center></p>
    {% for key ,value in response_data.0.items %}
       <tr>
              <input  hidden value = "{{value.0}}" style = "width:30%" name = "bot_id"/>
              <td><input value = "{{value.1}}" style = "width:30%" name = "bot_name"/></td>
           {% if value.2 == '1' %}
              <td><button name = "bot_status" value = '0' type="submit">Deactivat Me!</button></td>
           {% else %}
              <td><button name = "bot_status" value = '1' type="submit">Activate Me!</button></td>
          {% endif %}
       </tr>
    {% endfor %}
	</tbody>
</table>
     </form>
</div>
</body>
</html>